@media (max-width: 1110px) {
    .tarjetas{
        grid-template:
        "cel1 cel2 cel3"1fr
        "cel4 cel5 cel6"1fr;
    }
}

@media (max-width: 990px) {
    .destacados{
        grid-template: 
        "cel1 cel2"1fr
        "cel3 cel4"1fr ;
    }
}

@media (max-width: 825px) {
    .tarjetas{
        grid-template: 
        "cel1 cel2"1fr
        "cel3 cel4"1fr;
    }
}

@media (max-width: 760px) {
    header{
        height: 104px;
    }
    
    nav{
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    .tarjetas{
        grid-template: 
        "cel1"1fr
        "cel2"1fr
        "cel3"1fr
        "cel4"1fr;
    }

    .destacados{
        grid-template: 
        "cel1"1fr
        "cel2"1fr
        "cel3"1fr
        "cel4"1fr;;
    }
}

